{% extends "layouts/d.html" %}


{% block content %}
    <div
        id="profile"
        class="flex flex-col items-center">
        <!-- USER PROFILE -->
        <div
            x-data="{ modal_open: false }"
            class="w-full md:w-[36rem] lg:w-[50rem]">
            <div class="card p-6">
                <!-- PROFILE INFORMATION -->
                <div class="text-center flex flex-col items-center">
                    <img
                        class="w-36 h-36 rounded-full object-cover mb-4"
                        src="{{ profile.avatar }}" />
                    <div class="max-w-md">
                        <h1 class="font-3">{{ profile.name }}</h1>
                        <div
                            class="mb-2 -mt-2 flex items-center justify-center gap-1 font-4 text-gray-400 !italic">
                            <img
                                class="object-cover h-6 opacity-60"
                                src="https://img.icons8.com/glyph-neue/100/quill-pen.png" />
                            @{{ profile.user.username }}
                        </div>
                        <div class="font-3 !italic">
                            {{ profile.location|default:"Planet Earth" }}
                        </div>
                        <div class="my-5 font-1 text-3xl">
                            {{ profile.bio|default:"Professional Procrastinator"|linebreaksbr }}
                        </div>
                    </div>
                </div>
                {% if user != profile.user %}
                    <!-- REALTIME CHAT -->
                    <a href="{% url "private-chat" profile.user.username %}" class="button">Chat with me</a>
                    <!-- INBOX BUTTON -->
                    <div class="absolute bottom-4 right-4">
                        <a
                            @click="modal_open = true"
                            class="flex cursor-pointer items-center gap-2 bg-gray-200 hover:bg-indigo-700 text-white rounded-full h-14 w-14 justify-center">
                            <img
                                class="h-6 m-auto lg:m-0"
                                src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/ffffff/external-edit-user-interface-anggara-glyph-anggara-putra.png">
                        </a>
                    </div>
                    <!-- INBOX MODAL -->
                    <div
                        x-show="modal_open"
                        class="relative z-10"
                        aria-labelledby="modal-title"
                        role="dialog"
                        aria-modal="true"
                        style="display: none;">
                        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                                <div class="relative transform overflow-hidden rounded-2xl bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                                    <div
                                        @click.away="modal_open = false"
                                        class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                        {% include "a_inbox/form_new_message.html" with recipient=profile.user %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- POSTS FILTER -->
        <div
            id="tabs"
            class="min-w-full md:min-w-[40%] my-4 flex justify-center gap-3 select-none font-2 [&>a]:basis-1/4 [&>a]:justify-center"
            hx-target="#tab-contents"
            hx-swap="innerHTML"
            _="on htmx:afterOnLoad take .selected for event.target">
            <a hx-get="{% url "user-profile" profile.user.username %}?latest" class="tab selected">Latest</a>
            <a hx-get="{% url "user-profile" profile.user.username %}?top-posts" class="tab">Top Posts</a>
            <a hx-get="{% url "user-profile" profile.user.username %}?top-comments" class="tab">Top Comments</a>
            <a hx-get="{% url "user-profile" profile.user.username %}?liked-posts" class="tab">Liked Posts</a>
        </div>
        <!-- POSTS INFORMATION -->
        <div
            id="tab-contents"
            class="w-full flex flex-col items-center">
            <div
                class="grid place-items-start gap-x-8 mx-auto{% if posts.count >= 1 %} grid-cols-1 max-w-xl{% endif %}{% if posts.count >= 2 %} lg:grid-cols-2 lg:max-w-5xl{% endif %}{% if posts.count >= 3 %} xl:grid-cols-3 xl:max-w-7xl{% endif %}">
                {% for post in posts %}
                    {% include "a_posts/post.html" %}
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}
