<hero
	class="relative z-10 grid text-white text-center bg-gray-700 bg-cover bg-[url('https://images.unsplash.com/photo-1545294477-c0a0b8033797?q=80&w=1932')]">
	<div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40"></div>

	<div class="col-start-1 row-start-1 px-10 py-24 title-blip">
		<h1 class="font-1 text-6xl">Awesome Photos & Captions</h1>
		<p class="mb-5 font-2 text-2xl font-bold">
			Share your favourite Photos from Flickr and add a great captions
		</p>
		<a
			href=""
			class="button hero-button">
			Get Started
		</a>
	</div>
</hero>
