{% load static %}


<aside
	x-cloak
	x-show="mobileSidebarOpen"
	x-transition:enter="duration-300 ease-out"
	x-transition:enter-start="opacity-0 -mt-96"
	x-transition:enter-end="opacity-100 mt-0"
	x-transition:leave="duration-100 ease-out"
	x-transition:leave-start="opacity-100 mt-0"
	x-transition:leave-end="opacity-0 -mt-96"
	class="md:!block col-span-full md:col-span-1 mx-[5%] md:mr-[20%] order-1 md:order-2">
	<!-- CATEGORIES -->
	{% if categories %}
		<section class="card p-4">
			<ul class="hover-list font-2 tracking-wide">
				{% for category in categories %}
					<li	class="{% if category.slug == tag %}highlight{% endif %} flex items-center justify-between">
						<a href="{% url "category" category.slug %}">
							<img
								class="size-8 object-cover mr-3"
								src="{{ category.image.url }}"
								alt="" />
							<span class="text-base">{{ category.name }}</span>
						</a>

						{% with total=category.post_set.count %}
							{% if total > 0 %}
								<span class="mr-2">{{ total }}</span>
							{% endif %}
						{% endwith %}
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endif %}
	<!-- TOP POSTS -->
	{% if top_posts %}
		<section class="card p-4">
			<div class="flex items-center">
				<img
					class="w-7 mr-2 -mt-3"
					src="{% static "images/fireheart_black.svg" %}"
					alt="">
				<h2 class="font-1">Top Trending</h2>
			</div>

			<ul class="hover-list font-2">
				{% for post in top_posts|slice:":4" %}
					<li>
						<a
							href="{% url "post" post.id %}"
							class="flex items-stretch justify-between">
							<div class="flex items-center truncate">
								<!-- POST IMAGE -->
								<img
									class="mr-2 {% if forloop.first %}size-16{% else %}size-10{% endif %}  rounded-lg object-cover shrink-0"
									src="{{ post.image }}" />
								<!-- AUTHOR INFORMATION -->
								{% if post.author %}
									<img
										class="mr-1 size-6 object-cover rounded-full"
										src="{{ post.author.profile.avatar }}" />
									<span>{{ post.author.username }}</span>
								{% else %}
									<img
										class="mr-1 size-6 object-cover rounded-full"
										src="{% static "images/avatar_default.svg" %}"
										alt="" />
									<span>No author</span>
								{% endif %}
							</div>
							<!-- POST INTERACTION -->
							<div class="ml-2 flex items-center gap-1 shrink-0 text-gray-500">
								<span>{{ post.likes.count }}</span>
								{% if user in post.likes.all %}
									<img
										class="w-4 -mt-1"
										src="{% static "images/fireheart_red.svg" %}"
										alt="" />
								{% else %}
									<img
										class="w-4 -mt-1"
										src="{% static "images/fireheart.svg" %}"
										alt="" />
								{% endif %}
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endif %}
</aside>
