<aside
	x-cloak
	x-show="mobileSidebarOpen"
	x-transition:enter="duration-300 ease-out"
	x-transition:enter-start="opacity-0 -mt-96"
	x-transition:enter-end="opacity-100 mt-0"
	x-transition:leave="duration-100 ease-out"
	x-transition:leave-start="opacity-100 mt-0"
	x-transition:leave-end="opacity-0 -mt-96"
	class="md:!block col-span-full md:col-span-1 mx-[5%] md:mr-[20%] order-1 md:order-2">
	<!-- CATEGORIES -->
	<section class="card p-4">
		<h2 class="font-1">Categories</h2>
		<ul class="hover-list font-3">
			<li class="highlight">
				<a href="">
					<img
						class="size-8 object-cover mr-3"
						src="https://img.icons8.com/small/96/null/landscape.png"
						alt="" />
					<span>Landscape</span>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-8 object-cover mr-3"
						src="https://img.icons8.com/small/96/null/portrait.png"
						alt="" />
					<span>People</span>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-8 object-cover mr-3"
						src="https://img.icons8.com/small/96/null/dog.png"
						alt="" />
					<span>Animals</span>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-8 object-cover mr-3"
						src="https://img.icons8.com/small/96/null/collage.png"
						alt="" />
					<span>Abstract</span>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-8 object-cover mr-3"
						src="https://img.icons8.com/small/96/null/180-degrees.png"
						alt="" />
					<span>Black & White</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- TOP PHOTOS -->
	<section class="card p-4">
		<h2 class="font-1">Top Photos</h2>
		<ul class="hover-list font-3">
			<li>
				<a href="">
					<img
						class="size-10 rounded-lg object-cover mr-3"
						src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
					<span>Homer</span>
					<div class="ml-auto flex items-center gap-1">
						<span class="text-gray-500">100</span>
						<img
							class="w-5 -mt-1"
							src="https://img.icons8.com/small/24/000000/fire-heart.png"
							alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-10 rounded-lg object-cover mr-3"
						src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
					<span>Homer</span>
					<div class="ml-auto flex items-center gap-1">
						<span class="text-gray-500">10</span>
						<img
							class="w-5 -mt-1"
							src="https://img.icons8.com/small/24/000000/fire-heart.png"
							alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-10 rounded-lg object-cover mr-3"
						src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
					<span>Homer</span>
					<div class="ml-auto flex items-center gap-1">
						<span class="text-gray-500">1</span>
						<img
							class="w-5 -mt-1"
							src="https://img.icons8.com/small/24/000000/fire-heart.png"
							alt="" />
					</div>
				</a>
			</li>
		</ul>
	</section>
	<!-- TOP CAPTIONS -->
	<section class="card p-4">
		<h2 class="font-1">Top Captions</h2>
		<ul class="hover-list font-3">
			<li>
				<a href="">
					<img
						class="size-8 rounded-full object-cover mr-3"
						src="https://img.icons8.com/glyph-neue/100/quill-pen.png" />
					<span>Homer</span>
					<div class="ml-auto flex items-center gap-1">
						<span class="text-gray-500">100</span>
						<img
							class="w-5 -mt-1"
							src="https://img.icons8.com/small/24/000000/fire-heart.png"
							alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-8 rounded-full object-cover mr-3"
						src="https://img.icons8.com/glyph-neue/100/quill-pen.png" />
					<span>Homer</span>
					<div class="ml-auto flex items-center gap-1">
						<span class="text-gray-500">10</span>
						<img
							class="w-5 -mt-1"
							src="https://img.icons8.com/small/24/000000/fire-heart.png"
							alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<img
						class="size-8 rounded-full object-cover mr-3"
						src="https://img.icons8.com/glyph-neue/100/quill-pen.png" />
					<span>Homer</span>
					<div class="ml-auto flex items-center gap-1">
						<span class="text-gray-500">1</span>
						<img
							class="w-5 -mt-1"
							src="https://img.icons8.com/small/24/000000/fire-heart.png"
							alt="" />
					</div>
				</a>
			</li>
		</ul>
	</section>
</aside>
