<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Awesome</title>
		<link
			rel="shortcut icon"
			href="https://img.icons8.com/small/64/000000/fire-heart.png"
			type="image/x-icon" />
		<!-- GOOGLE FONT -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap"
			rel="stylesheet" />
		<!-- ALPINE JS -->
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<!-- TAILWIND CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
		<style type="text/tailwindcss">
			[x-cloak] {
				display: none !important;
			}

			:root {
				--primary: rgba(28, 40, 51, 0.75);
				--font-1: "Lobster", sans-serif;
				--font-2: "New Amsterdam", sans-serif;
				--font-3: "Calistoga", serif;
			}

			.font-1 {
				font-family: var(--font-1);
				font-weight: 400;
				font-style: normal;
			}

			.font-2 {
				font-family: var(--font-2);
				font-weight: 400;
				font-style: normal;
			}

			.font-3 {
				font-family: var(--font-3);
				font-weight: 400;
				font-style: normal;
			}

			h1 {
				font-size: 4rem;
				font-weight: bold;
				line-height: 1.2;
				margin-bottom: 1rem;
				font-family: var(--font-1);
			}

			h2 {
				font-size: 1.5rem;
				font-weight: bold;
				line-height: 2rem;
				margin-bottom: 0.75rem;
				font-family: var(--font-1);
			}

			.button {
				display: inline-flex;
				flex-shrink: 0;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				padding: 0 1rem;
				min-height: 3.3rem;
				border-radius: 0.5rem;
				box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
				transition-duration: 0.2s;
				transition-property: transform;
				color: white;
				text-align: center;
				background-color: var(--primary);
			}

			.button:active {
				transform: scale(0.95);
			}

			.nav-items > li > a {
				@apply h-12 px-5 flex items-center gap-3 text-xl rounded-lg hover:bg-gray-700;
			}

			.card {
				position: relative;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				padding-bottom: 1rem;
				border-radius: 1rem;
				margin-bottom: 2rem;
				box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
				background-color: white;
			}

			.hover-list > * {
				@apply hover:bg-gray-100 rounded-md transition duration-150;
			}

			.hover-list > * > a {
				@apply p-2 flex items-center text-sm;
			}

			.highlight {
				@apply !bg-indigo-100;
			}

			.title-blip {
				animation: 1s fade-in;
			}

			@keyframes fade-in {
				0% {
					opacity: 0;
				}
				10% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		</style>
	</head>
	<body class="bg-gray-100">
		<header
			x-data="{ mobileNavOpen: false }"
			class="md:flex items-center justify-between h-20 [&>*]:px-6 sticky top-0 z-50 bg-gray-800 text-white select-none">
			<div class="h-full flex items-center justify-between">
				<logo>
					<a
						href=""
						class="flex items-center gap-2">
						<img
							class="h-8 -mt-1"
							src="https://img.icons8.com/small/64/ffffff/fire-heart.png"
							alt="" />
						<span class="font-2 text-2xl title-blip">AWESOME</span>
					</a>
				</logo>

				<mobile-icon
					@click="mobileNavOpen = !mobileNavOpen"
					class="block md:hidden">
					<a
						class="size-12 flex items-center justify-center rounded-lg cursor-pointer hover:bg-gray-700">
						<img
							x-cloak
							x-show="!mobileNavOpen"
							class="size-6"
							src="https://img.icons8.com/small/64/ffffff/menu.png"
							alt="" />
						<img
							x-cloak
							x-show="mobileNavOpen"
							class="size-6"
							src="https://img.icons8.com/small/64/ffffff/delete-sign.png"
							alt="" />
					</a>
				</mobile-icon>
			</div>

			<nav
				x-cloak
				x-show="mobileNavOpen"
				x-transition:enter="duration-300 ease-out"
				x-transition:enter-start="opacity-0 -translate-y-96"
				x-transition:enter-end="opacity-100 translate-y-0"
				x-transition:leave="duration-150 ease-out"
				x-transition:leave-start="opacity-100 translate-y-0"
				x-transition:leave-end="opacity-0 -translate-y-96"
				class="absolute md:relative top-0 -z-10 md:!block w-full h-screen md:w-auto md:h-auto bg-gray-800">
				<ul
					x-data="{ dropdownOpen: false }"
					class="h-full flex flex-col md:flex-row items-center justify-center gap-8 md:gap-0 nav-items font-2 title-blip [&>li>a]:w-40 [&>li>a]:md:w-auto [&>li>a]:justify-center">
					<li>
						<a href="">HOME</a>
					</li>
					<li>
						<a href="">POST</a>
					</li>
					<li class="relative">
						<a
							@click="dropdownOpen = !dropdownOpen"
							@click.away="dropdownOpen = false"
							class="cursor-pointer">
							USER
							<img
								x-bind:class="dropdownOpen && 'rotate-180 duration-300'"
								class="w-4"
								src="https://img.icons8.com/ios-glyphs/30/777777/expand-arrow--v1.png"
								alt="" />
						</a>

						<div
							x-cloak
							x-show="dropdownOpen"
							x-transition:enter="duration-300 ease-out"
							x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
							x-transition:enter-end="opacity-100 translate-y-0 scale-100"
							x-transition:leave="duration-150 ease-out"
							x-transition:leave-start="opacity-100 translate-y-0 scale-100"
							x-transition:leave-end="opacity-0 -translate-y-5 scale-90"
							class="w-40 p-2 absolute z-20 right-0 bg-white text-black shadow rounded">
							<ul
								class="hover-list [&>li>a]:text-base [&>li>a]:justify-end">
								<li><a href="">My Profile</a></li>
								<li><a href="">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<hero
			class="relative z-10 grid text-white text-center bg-gray-700 bg-cover bg-[url('https://images.unsplash.com/photo-1545294477-c0a0b8033797?q=80&w=1932')]">
			<div
				class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40"></div>

			<div class="col-start-1 row-start-1 px-10 py-24 title-blip">
				<h1>Awesome Photos & Captions</h1>
				<p class="mb-5 font-2 text-2xl font-bold">
					Share your favourite Photos from Flickr and add a great
					captions
				</p>
				<a
					href=""
					class="button font-2 tracking-wider text-xl"
					>Get Started</a
				>
			</div>
		</hero>

		<content
			x-data="{ mobileSidebarOpen: false }"
			class="grid grid-cols-3 max-w-7xl mx-auto mt-6">
			<mobileSidebarNav
				class="relative z-10 col-span-full mx-auto mb-6 md:hidden">
				<a
					@click="mobileSidebarOpen = !mobileSidebarOpen"
					class="p-3 flex items-center rounded-lg cursor-pointer select-none hover:bg-gray-200 font-1 text-lg font-bold">
					<span>Categories</span>
					<img
						x-bind:class="mobileSidebarOpen && 'rotate-180 duration-300'"
						class="w-4 ml-1.5"
						src="https://img.icons8.com/small/32/000000/expand-arrow--v1.png" />
				</a>
			</mobileSidebarNav>
			<!-- POST -->
			<main
				class="col-span-full md:col-span-2 mx-[5%] md:mx-[10%] order-2 md:order-1">
				<article class="card">
					<!-- PHOTO INFORMATION -->
					<div class="px-4 h-14 flex items-center justify-between">
						<h3 class="w-[50%] truncate text-lg font-bold italic">
							Little Jedi
						</h3>
						<div class="text-sm text-gray-500 italic">
							flickr @
							<a
								href=""
								target="_blank"
								class="hover:underline"
								>John Doe</a
							>
						</div>
					</div>
					<!-- IMAGE -->
					<figure>
						<img
							class="w-full"
							src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg"
							alt="" />
					</figure>
					<!-- POST INFORMATION -->
					<div class="p-4 pb-2">
						<!-- AUTHOR -->
						<a
							href=""
							class="mb-4 flex items-center gap-2">
							<img
								class="w-8 rounded-full"
								src="https://img.icons8.com/glyph-neue/100/quill-pen.png"
								alt="" />
							<span class="font-bold italic hover:underline">
								Lisa
							</span>
						</a>
						<!-- CAPTION -->
						<p class="mb-10 px-4 font-1 text-5xl">
							Jedi Kitty protects the street
						</p>
						<!-- TAG -->
						<div class="mb-5 flex items-center gap-2 text-sm">
							<a
								href=""
								class="px-3 py-1 bg-gray-200 rounded-full italic hover:bg-gray-500 hover:text-white"
								>Animals</a
							>
							<a
								href=""
								class="px-3 py-1 bg-gray-200 rounded-full italic hover:bg-gray-500 hover:text-white"
								>Cute</a
							>
						</div>
						<!-- INTERACTION -->
						<div
							class="px-2 flex items-center justify-between font-2">
							<a href="">
								<span class="hover:underline">Comments</span>
								<span class="ml-1 text-gray-500">1</span>
							</a>

							<div
								class="flex items-center gap-4 [&>a:hover]:underline">
								<div
									class="flex items-center gap-1 text-gray-500">
									<img
										class="w-5 -mt-1"
										src="https://img.icons8.com/small/24/000000/fire-heart.png"
										alt="" />
									<span>1</span>
								</div>
								<a href="">Like</a>
								<a href="">Edit</a>
								<a href="">Comment</a>
							</div>
						</div>
					</div>
				</article>
			</main>
			<!-- STATISTIC -->
			<aside
				x-cloak
				x-show="mobileSidebarOpen"
				x-transition:enter="duration-300 ease-out"
				x-transition:enter-start="opacity-0 -mt-96"
				x-transition:enter-end="opacity-100 mt-0"
				x-transition:leave="duration-100 ease-out"
				x-transition:leave-start="opacity-100 mt-0"
				x-transition:leave-end="opacity-0 -mt-96"
				class="md:!block col-span-full md:col-span-1 mx-[5%] md:mr-[20%] order-1 md:order-2">
				<!-- CATEGORIES -->
				<section class="card p-4">
					<h2>Categories</h2>
					<ul class="hover-list font-3">
						<li class="highlight">
							<a href="">
								<img
									class="size-8 object-cover mr-3"
									src="https://img.icons8.com/small/96/null/landscape.png"
									alt="" />
								<span>Landscape</span>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-8 object-cover mr-3"
									src="https://img.icons8.com/small/96/null/portrait.png"
									alt="" />
								<span>People</span>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-8 object-cover mr-3"
									src="https://img.icons8.com/small/96/null/dog.png"
									alt="" />
								<span>Animals</span>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-8 object-cover mr-3"
									src="https://img.icons8.com/small/96/null/collage.png"
									alt="" />
								<span>Abstract</span>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-8 object-cover mr-3"
									src="https://img.icons8.com/small/96/null/180-degrees.png"
									alt="" />
								<span>Black & White</span>
							</a>
						</li>
					</ul>
				</section>
				<!-- TOP PHOTOS -->
				<section class="card p-4">
					<h2>Top Photos</h2>
					<ul class="hover-list font-3">
						<li>
							<a href="">
								<img
									class="size-10 rounded-lg object-cover mr-3"
									src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
								<span>Homer</span>
								<div class="ml-auto flex items-center gap-1">
									<span class="text-gray-500">100</span>
									<img
										class="w-5 -mt-1"
										src="https://img.icons8.com/small/24/000000/fire-heart.png"
										alt="" />
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-10 rounded-lg object-cover mr-3"
									src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
								<span>Homer</span>
								<div class="ml-auto flex items-center gap-1">
									<span class="text-gray-500">10</span>
									<img
										class="w-5 -mt-1"
										src="https://img.icons8.com/small/24/000000/fire-heart.png"
										alt="" />
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-10 rounded-lg object-cover mr-3"
									src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
								<span>Homer</span>
								<div class="ml-auto flex items-center gap-1">
									<span class="text-gray-500">1</span>
									<img
										class="w-5 -mt-1"
										src="https://img.icons8.com/small/24/000000/fire-heart.png"
										alt="" />
								</div>
							</a>
						</li>
					</ul>
				</section>
				<!-- TOP CAPTIONS -->
				<section class="card p-4">
					<h2>Top Captions</h2>
					<ul class="hover-list font-3">
						<li>
							<a href="">
								<img
									class="size-8 rounded-full object-cover mr-3"
									src="https://img.icons8.com/glyph-neue/100/quill-pen.png" />
								<span>Homer</span>
								<div class="ml-auto flex items-center gap-1">
									<span class="text-gray-500">100</span>
									<img
										class="w-5 -mt-1"
										src="https://img.icons8.com/small/24/000000/fire-heart.png"
										alt="" />
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-8 rounded-full object-cover mr-3"
									src="https://img.icons8.com/glyph-neue/100/quill-pen.png" />
								<span>Homer</span>
								<div class="ml-auto flex items-center gap-1">
									<span class="text-gray-500">10</span>
									<img
										class="w-5 -mt-1"
										src="https://img.icons8.com/small/24/000000/fire-heart.png"
										alt="" />
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<img
									class="size-8 rounded-full object-cover mr-3"
									src="https://img.icons8.com/glyph-neue/100/quill-pen.png" />
								<span>Homer</span>
								<div class="ml-auto flex items-center gap-1">
									<span class="text-gray-500">1</span>
									<img
										class="w-5 -mt-1"
										src="https://img.icons8.com/small/24/000000/fire-heart.png"
										alt="" />
								</div>
							</a>
						</li>
					</ul>
				</section>
			</aside>
		</content>
	</body>
</html>
