{% extends "layouts/a.html" %}


{% block content %}
    <!-- POST -->
    {% include "a_posts/post.html" %}
    <!-- COMMENT FORM -->
    {% if user.is_authenticated %}
        <div class="card !pb-0 -mt-3">
            <form
                hx-post="{% url "comment-sent" post.id %}"
                hx-target="#tab-contents"
                hx-swap="afterbegin"
                _="on htmx:afterRequest reset() me"
                class="flex items-center p-4 [&>div]:w-full"
                autocomplete="off">
                {% csrf_token %}
                {{ comment_form }}

                <button
                    @click="open = false"
                    class="block ml-3 !px-5"
                    type="submit">
                    Submit
                </button>
            </form>
        </div>
    {% endif %}
    <!-- COMMENT FILTER -->
    {% if post.comments.count > 0 %}
        <div class="mb-20">
            <div
                id="tabs"
                class="ml-4 mb-4 flex gap-3 font-2">
                <a class="tab selected">Newest First</a>
                <a class="tab">Top Comments</a>
            </div>

                <div id="tab-contents">
                    {% for comment in post.comments.all %}
                        {% include "a_posts/comment.html"%}
                    {% endfor %}
                </div>
        </div>
    {% endif %}
{% endblock %}
